#Title {
    -fx-font-size: 150pt;
    -fx-text-fill: green;
}

#identityNumber {
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}

#Email {
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}

#phoneNumber {
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}

#fullName {
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}

#password {
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}